<!DOCTYPE html>
<html>
  <body>


     <h3>Estudantes - UPDATE</h3>
     <hr/>


     {%- for category, message in get_flashed_messages(with_categories=true) %}
        <div class = "alert alert-danger">
           {{ message }}
        </div>
     {%- endfor %}


     <form action="/update/{{ estudante.id }}" class="container" method="post">
        <label for="nome">Nome</label><br>
        <input type="text" name="nome" placeholder="Nome" value="{{ estudante.nome }}"/><br>
        <label for="email">Email</label><br>
        <input type="text" name="email" placeholder="Email" value="{{ estudante.email }}"/><br>
        <label for="telefone">Telefone</label><br>
        <input type="text" name="telefone" placeholder="Telefone" value="{{ estudante.telefone }}"/><br>
        <label for="observacao">Observação</label><br>
        <textarea name="observacao" placeholder="Observação">{{ estudante.observacao }}</textarea><br>
        <input type="submit" value="Submit" />
     </form>


  </body>
</html>